@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-out, color 9999s ease-out;
  -webkit-text-fill-color: #111827 !important;
  caret-color: #111827;
}

/* 선택된 Day에 #8b5cf6 설정 */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #8b5cf6 !important;
  color: white !important;
  border-radius: 9999px;
}

/* 해당 Month의 Day가 아닌 Day에 #d1d5db 설정 */
.react-datepicker__day--outside-month {
  color: #d1d5db !important;
}
